{% extends 'base.html.twig' %}

{% block title %}Brasserie Sauvage!{% endblock %}

{% block body %} 
{# {{ include("modal/alcoholWarning.html.twig") }} #}   
<div class="container">
    <div class="flex pRelative col-0 ">
        {{ include("socialNetwork/index.html.twig") }}       
        <div id="lang" class="pAbsolute">
            <p><span>FR <img src="" alt=""></span> | <span>EN <img src="" alt=""></span></p>
        </div>
        {{ include("logo/index.html.twig") }} 
    </div>
    {{ include("menu/index.html.twig") }} 
</div>
{{ include("banner/index.html.twig") }} 
{% endblock %}
