<!DOCTYPE html>
<html lang="fr_FR">
    {{ include("head/head.html.twig") }}
    {% block javascripts %}
        {{ encore_entry_script_tags('Other') }}
    </head> 
    {% endblock %}
    
    <body>
        {% block beforeBody %}{% endblock %}
        <div class="container">
            <div class="flex pRelative col-0">
                {{ include("socialNetwork/index.html.twig") }}
                {{ include("logo/index.html.twig") }}
                {{ include("language/index.html.twig") }}
            </div>
        </div>
        {% block endHeader %}{% endblock %}
        <div class="container">
            {{ include("menu/index.html.twig") }}
        </div>
        {% block body %}
            <div class="container">
                {{ include("button/button.html.twig") }}
           </div>
        {% endblock %}
        {% block body2 %}{% endblock %}
        {{ include("footer/index.html.twig") }}  
        <div id="fTop" class="text-center">
            <a href="#logo">
                <img class="arrow2" src="{{ asset('img/fleche_haut.png') }}" alt="">
            </a>
            <p class="hide" >Retour haut de page</p>
        </div>
        {# Afficher les message d'erreurs des formulaires. 
        Allez directement id route
        echo  '<pre>';
            print_r($numberBeer);
        echo  '</pre>';
        #}
    </body>
</html>
