<!DOCTYPE html>
<html lang="fr_FR">
    {{ include("head/head.html.twig") }}
    {% block javascripts %}
        {{ encore_entry_script_tags('Other') }}
    </head> 
    {% endblock %}
    
    <body>
        {% block beforeBody %}{% endblock %}
        <div class="container">
            <div class="flex pRelative col-0 ">
                {{ include("socialNetwork/index.html.twig") }}
                {{ include("logo/index.html.twig") }}
                {{ include("language/index.html.twig") }}
            </div>
        </div>
        {% block endHeader %}{% endblock %}
        <div class="container">
            {{ include("menu/index.html.twig") }}
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
