<div id="menu" class="pAbsolute zI3 col-0 vHidden">
    <ul class="flex jcSpace text-center">
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_brasserie') }}">La Brasserie</a></li>
        <li><a href="{# {{ path('app_beer') }} #}">Nos bières</a></li>
        <li class="pRelative menuOpen">Actualités
            <ul class="hiddenMenu pAbsolute vHidden">
                <li class="hoverStyle"><a href="{# {{ path('app_') }} #}">Tendances</a></li>
                <li class="hoverStyle"><a href="{# {{ path('app_') }} #}">Créations</a></li>
                <li class="hoverStyle"><a href="{# {{ path('app_pro') }} #}">Projets</a></li>
                <li class="hoverStyle"><a href="{# {{ path('app_media') }} #}">Press<span class="opaq">_</span>Ressource</a></li>
                <li class="hoverStyle"><a href="{# {{ path('app_') }} #}">Gallerie</a></li>
            </ul>
        </li>
        <li><a href="{# {{ path('app_') }} #}">Nos engagements</a></li>
        <li class="menuOpen"><a href="{# {{ path('app_shop') }} #}">Boutique</a></li>
        <li><a href="{# {{ path('app_contact') }} #}">Contact</a></li>
    </ul>
</div>