<tr>
    <td class="col-80">
        <div class="text-center">
            <p>
                <span>Nom :</span> 
                    {{ contact.name }}
            </p>
            <p>
                <span>Prénom :</span> 
                    {{ contact.firstName }}
            </p>  
            <p>
                <span>E-mail :</span> 
                    {{ contact.email }}
            </p> 
        </div>
        <p>
            <span>Sujet :</span>
                {{ contact.subject }}
        </p>
        <p>
            <span>Message :</span>
            <p>{{ contact.message }}</p>
        </p>
    </td>